

.category-container{
    box-sizing: border-box;
    display: block;
    
}

.all-cat{
    display: inline-block;
}

.category-show {
    margin-bottom: 0px !important;
    margin-left: 20px;
}

.category-show li{
    display: inline-block;
    padding: 5px 15px;
}

.product{
    width: 12rem;
}

@media screen and (max-width: 767px) {
    .category-container{
        display: none !important;
    }
    .slide-img{
        min-height: 50vh !important;
        width: auto;
    
    }
    .all-product{
        width: 9rem !important;
        /* margin-left: 0px !important;
        margin-right: 0px !important; */
    }
    

}